{% load static %}{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Web dictaphone</title>
  {% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock%}
</head>

<body>

  <div class="wrapper">

    <header>
      <h1>DISCOVER THE BEAT</h1>
    </header>
    <div class="container">
      <div class="sidenav" style="background-image:url('{% static 'images/drums.jpg'%}'); background-size:cover">
        <footer>Designed by: <a href="https://github.com/NewtonBii/discover_music">Newton Bii</a>
        </footer>
      </div>
      <div class="col-lg-6">
        <section class="main-controls">
          <canvas class="visualizer" height="180px"></canvas>
          <div id="buttons">
            <button class="record">RECORD</button>
            <button class="stop">SEARCH</button>
          </div>
        </section>
        <div class="ml16">
          <h1>Hit record</h1>
        </div>
        <div class="ml17">
          <p>Search and Discover Your Beat</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-1">
        <div class="display-box">
          <div class="spinner"></div>
        </div>
        <div class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </div>

    </div>

  </div>

</body>
{% block scripts %}
<script src="{% static 'js/app.js'%}" charset="utf-8"></script>
<script src="{% static 'js/mediaDevices-getUserMedia-polyfill.js'%}" charset="utf-8"></script>
<script src="{% static 'js/respond.js'%}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/anime.js'%}" charset="utf-8"></script>
<!--
<script src="{% static 'js/jquery-3.3.1.min.js'%}" charset="utf-8"></script>
<script src="{% static 'js/anime.js'%}" charset="utf-8"></script> -->{% endblock %}

</html>
